html {}

.App {
  text-align: center;
}

nav {
  background-color: lightsteelblue;
  box-shadow: 0 0 23px #6666;
}

nav a {
  display: inline-block;
  margin: 0 1rem;
  padding: 12px;
  color: black;
  text-decoration: none;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

nav a:hover {
  background-color: rgba(256, 256, 256, .4);
}

.product {
  display: grid;
  grid-template-columns: 2fr 5fr;
  justify-items: center;
  margin: 2rem;
}

.product img {
  margin-top: 1rem;
  width: 20vw;
  left: 0;
}

.product-title {
  color: darkslateblue;
}

.product-price {
  font-size: 1.4rem;
  font-weight: 700;
}

.product-category {
  font-size: 1rem;
  font-weight: 600;
}

.product-description {
  margin: 15px 25px;
  line-height: 1.5rem;
}

.update-product-link {
  color: darkblue !important;
  font-weight: 600;
}

.update-product-link:hover {
  text-decoration: underline;
}

.update-product-form {
  width: 70vw;
  min-width: 300px;
  padding-top: 2rem;
  margin: auto;
  display: grid;
  min-width: 800px;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
  margin: auto;
}

.submit-update {
  background-color: #009940;
  transition: background-color .2s ease-in-out;
  color: white;
  padding: 5px;
  border: 2px solid #009940;
  border-radius: 3px;
  margin: 3px;
}

label {
  text-align: left;
}

textarea {
  height: 9rem;
}

.submit-update:hover {
  background-color: springgreen;
  cursor: pointer;
}

.big-link {
  font-size: 3rem;
  display: inline-block;
  margin: 2rem;
  text-decoration: none;
  padding: 15px;
  color: white;
  background-color: slateblue;
  transform: skewx(-19deg);
  transform-origin: bottom left;
  transition: background-color .3s ease-in-out;
}

.big-link:hover {
  background-color: #C87EB2;
  color: white;
}

.disclaimer {
  background: orange;
  display: inline-block;
  padding: 1rem;
}

.container {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 10fr 100px;
}

.container a {
  margin: 0 5px;
  color: #111;
  text-decoration: none;
  font-weight: 300;
}

aside {
  text-align: left;
  padding: 0px 20px;
}

.content {
  padding: 0 20px;
}

ul {
  list-style: none;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.product-grid li {
  width: 100%;
  height: 10rem;
  margin-bottom: 80px;
  text-align: center;
}

.product-grid li img {
  margin: auto;
  max-height: 100%;
  display: block;
}

.product-presentation {
  display: block;
  font-weight: 500;
  margin-top: 20px;
}

.product-presentation:hover {
  color: darkslateblue;
}

.category-link {
  font-weight: 600 !important;
}

.category-link:hover {
  color: darkblue;
}

.form-container {
  width: 800px;
  margin: auto;
  text-align: left;
}

label {
  margin: 3px;
}

/*
.MuiOutlinedInput-root.MuiInputBase-root {
  margin: 0 0 20px 0px;
}

.MuiFormHelperText-root {
  margin-top: -20px !important;
}

.MuiButton-root {
  margin-bottom: 1em !important;
}

button[type=submit] {
  margin-left: 2px !important;
  margin-top: 1em;
}



.MuiSelect-select {
}
  left: 0;
*/
/*Loading animation from loading.io*/
.lds-roller {
  display: inline-block;
  position: relative;
  margin-top: 2rem;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #009940;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
